.container {  /* Assuming the HTML element has a class called 'container' */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Full width */
    height: 100%; /* Full height */
     overflow: hidden;/* Prevents overflow */
	 margin: 0;
	 padding: 0;
	 position: absolute;
    color: rgb(0, 0, 0);
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#SvgExam {
    display: block;  /* Removes extra space below the SVG */
    /* Maximum height as a percentage of the container's height */
    aspect-ratio: 1;
	/* Optional: Ensures the SVG keeps a 1:1 aspect ratio */
}


